[flake8]

; compatibility with black
max-line-length = 88

; exclude hidden directories and files
exclude = .*

ignore =
    E203,  ; whitespace before '', conflict with black
    E262,  ; inline comment should start with '#', conflict with Better Comments
    E265,  ; block comment should start with '#', conflict with Better Comments
    W503,  ; line break before binary operator, conflict with black

; lowercase name, uppercase used to identify certain fixtures
per-file-ignores =
    tests/*: N802, N803
