# this project
-e .

# project-specific
Random-Word~=1.0

# build
twine~=3.4

# document
sphinx~=3.5
sphinx-rtd-theme~=0.5

# experiment
jupyter~=1.0

# format
black==20.8b1  # doesn't follow semver

# lint
-r requirements_lint.txt
flake8-codes~=0.1  # flake8 error code introspection

# test
pytest~=6.2
pytest-cov~=2.11
